// Colors

$mk_color_brand: #1B3A5C;
$mk_color_primary: #1B3A5C;

$mk_color_success: #28A745;
$mk_color_info: #4A90B8;
$mk_color_warning: #D4A843;
$mk_color_danger: #DC3545;

// Override

$o-community-color: $mk-color-brand;
$o-enterprise-color: $mk-color-brand;
$o-enterprise-action-color: $mk-color-primary;

$o-brand-odoo: $mk-color-brand;
$o-brand-primary: $mk-color-primary;

$o-success: $mk-color-success;
$o-info: $mk-color-info;
$o-warning: $mk-color-warning;
$o-danger: $mk-color-danger;

$o-theme-text-colors: (
    "primary": $mk-color-brand,
    "success": $o-success,
    "info": $o-info,
    "warning": $o-warning,
    "danger": $o-danger,
);
